.path4Copy {
  top: 246px;
  left: -464px;
  width: 332px;
  height: 2px;
  opacity: 0.2;
  mix-blend-mode: normal;
}
.b,
.path4Copy,
.path4Icon {
  position: absolute;
}
.b {
  top: 160px;
  left: 143px;
  line-height: 28px;
}
.path4Icon {
  top: 228px;
  left: 146px;
  width: 1160px;
  height: 1px;
  opacity: 0.2;
  mix-blend-mode: normal;
}
.b1,
.rectangle {
  position: absolute;
  left: 0;
}
.rectangle {
  height: 4.91%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 95.09%;
  background-color: var(--color-shadow-none);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
}
.b1 {
  top: calc(50% - 14px);
  line-height: 28px;
}
.icLightbulbOutlineIcon,
.wrapper {
  position: absolute;
  height: 100%;
  width: 75.19%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 24.81%;
  overflow: hidden;
}
.icLightbulbOutlineIcon {
  height: 85.71%;
  width: 18.6%;
  top: 7.14%;
  right: 81.4%;
  bottom: 7.14%;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}
.frameParent {
  position: absolute;
  height: 1.07%;
  width: 8.96%;
  top: 3.34%;
  right: 24.17%;
  bottom: 95.59%;
  left: 66.88%;
}
.b2 {
  position: absolute;
  width: 83.45%;
  top: calc(50% - 14px);
  left: 22.07%;
  line-height: 28px;
  display: inline-block;
}
.icRecordVoiceOverIcon,
.parent {
  position: absolute;
  left: 0;
  overflow: hidden;
}
.icRecordVoiceOverIcon {
  height: 85.71%;
  width: 16.55%;
  top: 7.14%;
  right: 83.45%;
  bottom: 7.14%;
  max-width: 100%;
  max-height: 100%;
}
.parent {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
}
.rectangle1,
.shopByBrand3Inner {
  position: absolute;
  height: 1.07%;
  width: 10.69%;
  top: 3.34%;
  right: 61.25%;
  bottom: 95.59%;
  left: 28.06%;
}
.rectangle1 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-shadow-none);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
}
.fill91Icon {
  position: relative;
  width: 26px;
  height: 26px;
}
.b3,
.rectangleParent {
  position: absolute;
  mix-blend-mode: normal;
}
.b3 {
  top: calc(50% - 14px);
  left: 10.21%;
  line-height: 28px;
  opacity: 0.4;
}
.rectangleParent {
  height: 2.07%;
  width: 39.44%;
  top: 0.46%;
  right: 30.28%;
  bottom: 97.47%;
  left: 30.28%;
  overflow: hidden;
  opacity: 0;
}
.container,
.icShoppingCartCopyIcon {
  position: absolute;
  height: 100%;
  width: 75.76%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 24.24%;
  overflow: hidden;
}
.icShoppingCartCopyIcon {
  height: 85.71%;
  width: 18.18%;
  top: 7.14%;
  right: 81.82%;
  bottom: 7.14%;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}
.bitmapIcon,
.frameGroup {
  position: absolute;
  height: 1.07%;
  width: 9.17%;
  top: 3.34%;
  right: 80.97%;
  bottom: 95.59%;
  left: 9.86%;
}
.bitmapIcon {
  height: 2.99%;
  width: 6.81%;
  top: 0.04%;
  right: 83.82%;
  bottom: 96.97%;
  left: 9.38%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.group6Copy2Wrapper {
  position: absolute;
  height: 100%;
  width: 60%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 40%;
}
.icLocationCityIcon {
  position: absolute;
  height: 85.71%;
  width: 30%;
  top: 7.14%;
  right: 70%;
  bottom: 7.14%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupParent,
.rectangle2 {
  position: absolute;
  height: 1.07%;
  width: 5.56%;
  top: 3.34%;
  right: 10.69%;
  bottom: 95.59%;
  left: 83.75%;
}
.rectangle2 {
  height: 2.03%;
  width: 37.57%;
  top: 0.42%;
  right: 31.18%;
  bottom: 97.55%;
  left: 31.25%;
  border-radius: var(--br-8xs);
  background-color: var(--color-shadow-none);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
}
.icSearchIcon {
  position: absolute;
  height: 0.96%;
  width: 1.74%;
  top: 0.96%;
  right: 32.29%;
  bottom: 98.08%;
  left: 65.97%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.b6 {
  position: absolute;
  width: 27.71%;
  top: calc(50% - 1280.5px);
  left: 33.54%;
  line-height: 28px;
  display: inline-block;
  opacity: 0.6;
  mix-blend-mode: normal;
}
.icShoppingCartIcon {
  position: absolute;
  height: 0.92%;
  width: 1.67%;
  top: 0.96%;
  right: 25.07%;
  bottom: 98.12%;
  left: 73.26%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group,
.icLoyaltyIcon {
  position: absolute;
  height: 100%;
  width: 85.19%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 14.81%;
  overflow: hidden;
}
.icLoyaltyIcon {
  height: 85.71%;
  width: 11.11%;
  top: 7.14%;
  right: 88.89%;
  bottom: 7.14%;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}
.groupGroup {
  height: 1.07%;
  width: 15%;
  top: 3.34%;
  right: 40%;
  bottom: 95.59%;
  left: 45%;
}
.b8,
.groupGroup,
.image1Icon {
  position: absolute;
}
.image1Icon {
  top: 220px;
  left: 142px;
  width: 1154px;
  height: 401px;
  object-fit: cover;
}
.b8 {
  top: 663px;
  left: 1059px;
  line-height: 28px;
}
.icFilterListIcon {
  position: absolute;
  top: 665px;
  left: 1026px;
  width: 24px;
  height: 24px;
}
.groupIcon,
.path2Icon {
  position: absolute;
  top: 906.96px;
  left: 315.5px;
  width: 1px;
  height: 1px;
}
.groupIcon {
  top: 1493px;
  left: 701px;
  width: 34px;
  height: 6px;
}
.rectangleDiv,
.shopByBrand3Child,
.shopByBrand3Child1,
.shopByBrand3Child2,
.shopByBrand3Item {
  position: absolute;
  top: 1381px;
  left: 403px;
  background-color: var(--color-shadow-none);
  width: 144px;
  height: 131px;
}
.rectangleDiv,
.shopByBrand3Child1,
.shopByBrand3Child2,
.shopByBrand3Item {
  top: 1383px;
  left: 154px;
}
.rectangleDiv,
.shopByBrand3Child1,
.shopByBrand3Child2 {
  top: 1381px;
  left: 645px;
}
.shopByBrand3Child1,
.shopByBrand3Child2 {
  top: 1382px;
  left: 890px;
}
.shopByBrand3Child2 {
  left: 1136px;
}
.groupIcon1 {
  position: absolute;
  top: 875.08px;
  left: 704.23px;
  width: 39.7px;
  height: 7.01px;
}
.shopByBrand3Child3 {
  position: absolute;
  top: 745px;
  left: 400px;
  background-color: var(--color-shadow-none);
  width: 168px;
  height: 152px;
}
.groupIcon2 {
  position: absolute;
  top: 1246.08px;
  left: 704.23px;
  width: 39.7px;
  height: 7.01px;
}
.shopByBrand3Child4 {
  position: absolute;
  top: 747px;
  left: 152px;
  background-color: var(--color-shadow-none);
  width: 170px;
  height: 154px;
}
.image47Icon {
  position: absolute;
  top: 727px;
  left: 173px;
  width: 133px;
  height: 190px;
  object-fit: cover;
}
.shopByBrand3Child5,
.shopByBrand3Child6 {
  position: absolute;
  top: 745px;
  left: 638px;
  background-color: var(--color-shadow-none);
  width: 169px;
  height: 152px;
}
.shopByBrand3Child6 {
  top: 746px;
  left: 882px;
  width: 166px;
  height: 151px;
}
.shopByBrand3Child7,
.shopByBrand3Child8,
.shopByBrand3Child9 {
  position: absolute;
  top: 745px;
  left: 1123px;
  background-color: var(--color-shadow-none);
  width: 167px;
  height: 153px;
}
.shopByBrand3Child8,
.shopByBrand3Child9 {
  top: 1114px;
  height: 152px;
}
.shopByBrand3Child9 {
  top: 1113px;
  left: 882px;
  width: 166px;
}
.shopByBrand3Child10,
.shopByBrand3Child11,
.shopByBrand3Child12 {
  position: absolute;
  top: 1115px;
  left: 641px;
  background-color: var(--color-shadow-none);
  width: 169px;
  height: 154px;
}
.shopByBrand3Child11,
.shopByBrand3Child12 {
  left: 397px;
}
.shopByBrand3Child12 {
  top: 1117px;
  left: 157px;
  width: 170px;
}
.image48Icon,
.image49Icon {
  position: absolute;
  top: 727px;
  left: 415px;
  width: 133px;
  height: 189px;
  object-fit: cover;
}
.image49Icon {
  left: 656px;
  width: 134px;
}
.image50Icon,
.image51Icon,
.image52Icon,
.image53Icon {
  position: absolute;
  top: 727px;
  left: 902px;
  width: 132px;
  height: 190px;
  object-fit: cover;
}
.image51Icon,
.image52Icon,
.image53Icon {
  left: 1140px;
  width: 133px;
  height: 189px;
}
.image52Icon,
.image53Icon {
  top: 1100px;
  left: 173px;
  height: 191px;
}
.image53Icon {
  top: 1097px;
  left: 415px;
  height: 192px;
}
.image19Icon,
.image54Icon,
.image55Icon {
  position: absolute;
  top: 1098px;
  left: 656px;
  width: 134px;
  height: 190px;
  object-fit: cover;
}
.image19Icon,
.image55Icon {
  top: 1096px;
  left: 902px;
  width: 132px;
  height: 189px;
}
.image19Icon {
  top: 1100px;
  left: 1142px;
  width: 129px;
  height: 182px;
}
.groupIcon3 {
  position: absolute;
  top: 1621.08px;
  left: 706.23px;
  width: 39.7px;
  height: 7.01px;
}
.shopByBrand3Child13,
.shopByBrand3Child14 {
  position: absolute;
  top: 1491px;
  left: 402px;
  background-color: var(--color-shadow-none);
  width: 168px;
  height: 152px;
}
.shopByBrand3Child14 {
  top: 1493px;
  left: 154px;
  width: 170px;
  height: 154px;
}
.image56Icon {
  position: absolute;
  top: 1473px;
  left: 175px;
  width: 133px;
  height: 190px;
  object-fit: cover;
}
.shopByBrand3Child15,
.shopByBrand3Child16 {
  position: absolute;
  top: 1491px;
  left: 640px;
  background-color: var(--color-shadow-none);
  width: 169px;
  height: 152px;
}
.shopByBrand3Child16 {
  top: 1492px;
  left: 884px;
  width: 166px;
  height: 151px;
}
.shopByBrand3Child17,
.shopByBrand3Child18,
.shopByBrand3Child19 {
  position: absolute;
  top: 1491px;
  left: 1125px;
  background-color: var(--color-shadow-none);
  width: 167px;
  height: 153px;
}
.shopByBrand3Child18,
.shopByBrand3Child19 {
  top: 1860px;
  height: 152px;
}
.shopByBrand3Child19 {
  top: 1859px;
  left: 884px;
  width: 166px;
}
.shopByBrand3Child20,
.shopByBrand3Child21,
.shopByBrand3Child22 {
  position: absolute;
  top: 1861px;
  left: 643px;
  background-color: var(--color-shadow-none);
  width: 169px;
  height: 154px;
}
.shopByBrand3Child21,
.shopByBrand3Child22 {
  left: 399px;
}
.shopByBrand3Child22 {
  top: 1863px;
  left: 159px;
  width: 170px;
}
.image57Icon,
.image58Icon {
  position: absolute;
  top: 1473px;
  left: 417px;
  width: 133px;
  height: 189px;
  object-fit: cover;
}
.image58Icon {
  left: 658px;
  width: 134px;
}
.image59Icon,
.image60Icon,
.image61Icon,
.image62Icon {
  position: absolute;
  top: 1473px;
  left: 904px;
  width: 132px;
  height: 190px;
  object-fit: cover;
}
.image60Icon,
.image61Icon,
.image62Icon {
  left: 1142px;
  width: 133px;
  height: 189px;
}
.image61Icon,
.image62Icon {
  top: 1846px;
  left: 175px;
  height: 191px;
}
.image62Icon {
  top: 1843px;
  left: 417px;
  height: 192px;
}
.image63Icon,
.image64Icon,
.image65Icon {
  position: absolute;
  top: 1844px;
  left: 658px;
  width: 134px;
  height: 190px;
  object-fit: cover;
}
.image64Icon,
.image65Icon {
  top: 1842px;
  left: 904px;
  width: 132px;
  height: 189px;
}
.image65Icon {
  top: 1846px;
  left: 1144px;
  width: 129px;
  height: 182px;
}
.shopByBrand3 {
  position: relative;
  background-color: var(--color-shadow-none);
  width: 100%;
  height: 2607px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray-100);
  font-family: var(--font-prompt);
}
