.rectangle {
  position: absolute;
  height: 85.33%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 14.67%;
  left: 0;
  background-color: var(--color-shadow-none);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
}
.logOutIcon {
  position: absolute;
  height: 40%;
  width: 11.26%;
  top: 35.38%;
  right: 96.97%;
  bottom: 24.62%;
  left: -8.23%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0;
  mix-blend-mode: normal;
}
.rectangle1 {
  position: absolute;
  height: 78.46%;
  width: 90.91%;
  top: 13.85%;
  right: 3.9%;
  bottom: 7.69%;
  left: 5.19%;
  border-radius: var(--br-8xs);
}
.div,
.div1 {
  position: absolute;
  top: calc(50% - 11.5px);
  left: 8.23%;
  line-height: 28px;
  font-weight: 500;
}
.div1 {
  left: 51.52%;
}
.loginSignupCopy2Child {
  position: absolute;
  height: 63.08%;
  width: 0.43%;
  top: 24.62%;
  right: 53.68%;
  bottom: 12.31%;
  left: 45.89%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.loginSignupCopy2 {
  position: absolute;
  height: 43.33%;
  width: 16.04%;
  top: 0.67%;
  right: 9.51%;
  bottom: 56%;
  left: 74.44%;
  color: var(--color-style-primary-2);
}
.div2 {
  position: absolute;
  top: calc(50% - 14px);
  left: 0;
  line-height: 28px;
  font-weight: 500;
}
.icLightbulbOutlineIcon,
.wrapper {
  position: absolute;
  height: 100%;
  width: 75.19%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 24.81%;
  overflow: hidden;
}
.icLightbulbOutlineIcon {
  height: 85.71%;
  width: 18.6%;
  top: 7.14%;
  right: 81.4%;
  bottom: 7.14%;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}
.frameParent {
  position: absolute;
  height: 18.67%;
  width: 8.96%;
  top: 58%;
  right: 24.17%;
  bottom: 23.33%;
  left: 66.88%;
}
.div3 {
  position: absolute;
  width: 83.45%;
  top: calc(50% - 14px);
  left: 22.07%;
  line-height: 28px;
  font-weight: 500;
  display: inline-block;
}
.icRecordVoiceOverIcon,
.parent {
  position: absolute;
  left: 0;
  overflow: hidden;
}
.icRecordVoiceOverIcon {
  height: 85.71%;
  width: 16.55%;
  top: 7.14%;
  right: 83.45%;
  bottom: 7.14%;
  max-width: 100%;
  max-height: 100%;
}
.parent {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
}
.navtab4tabInner,
.rectangle2 {
  position: absolute;
  height: 18.67%;
  width: 10.69%;
  top: 58%;
  right: 61.25%;
  bottom: 23.33%;
  left: 28.06%;
}
.rectangle2 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-shadow-none);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
}
.fill91Icon {
  position: relative;
  width: 26px;
  height: 26px;
}
.div4,
.rectangleParent {
  position: absolute;
  mix-blend-mode: normal;
}
.div4 {
  top: calc(50% - 14px);
  left: 10.21%;
  line-height: 28px;
  font-weight: 300;
  opacity: 0.4;
}
.rectangleParent {
  height: 36%;
  width: 39.44%;
  top: 8%;
  right: 30.28%;
  bottom: 56%;
  left: 30.28%;
  overflow: hidden;
  opacity: 0;
}
.container,
.icShoppingCartCopyIcon {
  position: absolute;
  height: 100%;
  width: 75.76%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 24.24%;
  overflow: hidden;
}
.icShoppingCartCopyIcon {
  height: 85.71%;
  width: 18.18%;
  top: 7.14%;
  right: 81.82%;
  bottom: 7.14%;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}
.frameGroup {
  position: absolute;
  height: 18.67%;
  width: 9.17%;
  top: 58%;
  right: 80.97%;
  bottom: 23.33%;
  left: 9.86%;
}
.group6Copy2Wrapper {
  position: absolute;
  height: 100%;
  width: 60%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 40%;
}
.icLocationCityIcon {
  position: absolute;
  height: 85.71%;
  width: 30%;
  top: 7.14%;
  right: 70%;
  bottom: 7.14%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupParent,
.rectangle3 {
  position: absolute;
  height: 18.67%;
  width: 5.56%;
  top: 58%;
  right: 10.69%;
  bottom: 23.33%;
  left: 83.75%;
}
.rectangle3 {
  height: 35.33%;
  width: 37.57%;
  top: 7.33%;
  right: 31.18%;
  bottom: 57.33%;
  left: 31.25%;
  border-radius: var(--br-8xs);
  background-color: var(--color-shadow-none);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
}
.icSearchIcon {
  position: absolute;
  height: 16.67%;
  width: 1.74%;
  top: 16.67%;
  right: 32.29%;
  bottom: 66.67%;
  left: 65.97%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div7 {
  position: absolute;
  width: 27.71%;
  top: calc(50% - 52px);
  left: 33.54%;
  line-height: 28px;
  font-weight: 300;
  display: inline-block;
  opacity: 0.6;
  mix-blend-mode: normal;
}
.icShoppingCartIcon {
  position: absolute;
  height: 16%;
  width: 1.67%;
  top: 16.67%;
  right: 25.07%;
  bottom: 67.33%;
  left: 73.26%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group,
.icLoyaltyIcon {
  position: absolute;
  height: 100%;
  width: 85.19%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 14.81%;
  overflow: hidden;
}
.icLoyaltyIcon {
  height: 85.71%;
  width: 11.11%;
  top: 7.14%;
  right: 88.89%;
  bottom: 7.14%;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}
.groupGroup {
  position: absolute;
  height: 18.67%;
  width: 15%;
  top: 58%;
  right: 40%;
  bottom: 23.33%;
  left: 45%;
}
.image1Icon {
  position: absolute;
  top: 12px;
  left: 143px;
  width: 81px;
  height: 63px;
  object-fit: cover;
}
.navtab4tab {
  position: relative;
  width: 1440px;
  height: 150px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray-100);
  font-family: var(--font-prompt);
}
